<p>
  <%=content_tag(:label, l(:label_trac_url))%>
  <%=text_field_tag 'settings[trac_url]', @settings['trac_url'] %><br />
</p>
<p>
  <%=content_tag(:label, l(:label_trac_project))%>
  <%=text_field_tag 'settings[trac_project]', @settings['trac_project'] %><be />
</p>
<p>
  <%=content_tag(:label, l(:label_new_window))%>
  <%=check_box_tag 'settings[new_window]', true, @settings['new_window'] == "true" %>
</p>
